<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Proyectos molones</title>
  </head>
  <body>
    <main>
      <section class="preview">
        <div
          class="preview__image"
          style="
            background-image: url('./static/media/project.201bbd6984b9df7e7c69.jpg');
          "
        ></div>
        <article class="preview__autor">
          <div class="preview__autor__info-project">
            <p class="preview__autor__info-project--subtitle">
              Proyecto Molones
            </p>
            <h2 class="preview__autor__info-project--title"><%= name %></h2>
            <p class="preview__autor__info-project--slogan">
              Emprende tus proyectos sin límites
            </p>
            <p class="preview__autor__info-project--desc">
              Nuestra web es un gestor de proyectos online que te permite
              organizar tus proyectos de forma inteligente y eficiente con solo
              crear una tarjeta para cada uno.
            </p>
            <div class="preview__autor__info-project--technologies">
              <p class="preview__autor__info-project--technologies--text">
                React JS, SASS
              </p>
            </div>
            <div class="preview__autor__info-project--icons">
              <a
                class="hidden"
                href="<%= repo %>"
                target="_blank"
                rel="noreferrer"
                ><i class="fa-brands fa-github-alt"></i></a
              ><a class="hidden" href="" target="_blank" rel="noreferrer"
                ><i class="fa-solid fa-globe"></i
              ></a>
            </div>
          </div>
          <div class="preview__autor__info-autor">
            <div
              class="preview__autor__info-autor--image"
              style="
                background-image: url('./static/media/secretaria.2f2515f606b68b6f43a8.png');
              "
            ></div>
            <p class="preview__autor__info-autor--job">Full Stack Developer</p>
            <p class="preview__autor__info-autor--name">Pepa Miguez</p>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
